:root{
    --primary: black;
    --background: #16423C;
    --secondary: #E9EFEC;
    --highlight: #507265;
    --border: #E9EFEC;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary);
}

header{
    border: 1px solid var(--border);
    background-size: auto;
}

.profile-section{
    color: var(--secondary);
    background-image: url("./assets/background-pattern.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    padding: 1rem;
}

.profile-section div{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-size: larger;

    text-shadow: 0.2rem 0.2rem 0rem var(--background);
}

.profile-section div *{
    margin: 0.1rem;
}

.profile-section img{
    height: 12.5rem;
    width: 12.5rem;

    border: 0.1rem solid var(--border);
    border-radius: 6rem;
}

.navbar ul{
    background-color: var(--highlight);
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    
    font-weight: 600;
}

.navbar li{
    border-top: 2px solid var(--border);
    width: 100%;
    
    text-align: center;
    padding: 0.5rem;
}

.navbar ul li a{
    padding: 1rem;
    color: var(--secondary);
    text-decoration: none;
}

@media (min-width: 450px) {
    header{
        background-size: cover;
    }
    .profile-section{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .profile-section img{
        border-radius: 2rem;
    }
    .navbar ul{
        padding: 0.5rem 0;

        justify-content: center;
        flex-direction: row;
        gap: 0;
    }
    
    .navbar li:not(:last-child){
        border-right: 2px solid var(--border);
    }
    .navbar li{
        border-top: 0;
        width: auto;
        padding: 0;
    }
}