:root{
    --primary: #16423C;
    --background: #16423C;
    --secondary: #E7F0DC;
    --highlight: #507265;
    --border: #E9EFEC;
    --accent: #E7F0DC;
}

body{
    color: var(--primary);
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary);
}

header{
    border: 1px solid var(--border);
    background-size: auto;
}

.profile-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 1rem;
    overflow: hidden;
}

.profile-section div{
    display: flex;
    flex-direction: column;

    font-size: small;
}

.profile-section div *{
    margin: 0.1rem;
}

.profile-section img{
    height: 100px;
    width: 100px;
}

.navbar ul{
    background-color: var(--highlight);
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    
    font-weight: 600;
}

.navbar li{
    border-top: 2px solid var(--border);
    width: 100%;
    
    text-align: center;
    padding: 0.5rem;
}

.navbar ul li a{
    padding: 1rem;
    color: var(--secondary);
    text-decoration: none;
}

section{
    margin-top: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    overflow: hidden;
}

section > div{    
    text-align: center;

    font-size: large;
    font-weight: bold;
    
    padding: 5px;
    width: 100%;

    border-bottom: 2px solid var(--background);
}

iframe{
    border: 2px solid var(--background);

    height: 200px;
    width: 100%;
}

.skills > div:not(:first-child){
    display: flex;
    flex-direction: column;
    text-align: left;
}

.accordion-btn {
    color: var(--secondary);

    font-family: inherit;
    font-weight: 600;
    
    background-color: var(--highlight);
    cursor: pointer;

    padding: 1rem;
    width: 100%;

    text-align: left;
    border-bottom: 1px solid var(--border);
  }
  
  .accordion-btn:after {
    content: '\02795';

    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }
  
  .panel {
    padding: 0 1rem;

    font-weight: 500;
    font-size: medium;

    background-color: transparent;
    border: 2px solid var(--highlight);

    display: none;
    overflow: hidden;
  }

  .panel p{
    margin: 0;
    padding: 0.25rem;
    border-bottom: 1px solid var(--highlight);
  }

@media (min-width:600px) {
    header{
        background-size: cover;
    }
    .profile-section{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .profile-section img{
        border-radius: 2rem;
    }
    .navbar ul{
        padding: 0.5rem 0;

        justify-content: center;
        flex-direction: row;
        gap: 0;
    }
    
    .navbar li:not(:last-child){
        border-right: 2px solid var(--border);
    }
    .navbar li{
        border-top: 0;
        width: auto;
        padding: 0;
    }
    iframe{
        height: 315px;
        width: 520px;
    }
}